.layout {
  position: relative;
  z-index: 9;
  background: #fff;
  backface-visibility: hidden;
}

.well {
  max-width: 900px;
  margin: auto;
  padding: 80px 8px 0 8px;

  :global(.contractor-signup__tools__title) {
    padding-top: 40px;
    margin-bottom: 16px;
  }

  :global(.contractor-signup__tools) {
    padding-top: unset;
    padding-bottom: unset;
  }

  :global(.contractor-signup__tools__item__image) {
    height: 570px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    img {
      height: 500px;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 400px;
    grid-gap: 48px;
    padding: 0;
  }
}

a.buttonLink {
  text-decoration: none;
}

.button {
  transition: all 0.3s ease-out;
  backface-visibility: hidden;
  display: block;
  padding: 16px 24px;
  background-color: #993333;
  color: #fff;
  border: solid 1px #993333;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: #FFF;
    color: #993333;
    border-color: #993333;
  }
}

@media (min-width: 768px) {
  .well {
    .grid {
      grid-template-columns: repeat(2, minmax(100px, 1fr));
      max-width: unset;
    }
  }
}
