@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
@import '~react-modal-video/scss/modal-video.scss';
@import '../styles/normalize';
@import '../styles/mixins';
@import '../styles/variables';

body {
  overflow-x: hidden;
}

.rp-main-layout {
  display: grid;
  grid-template-rows: 1fr 60px;
  min-height: 100vh;
  overflow: hidden;
  padding-top: $header-height;

  &__content {
    max-width: 100vw;
  }

  @include break-on('small') {
    grid-template-rows: 1fr 130px;

  }

  & * {
    font-family: 'Open Sans', sans-serif;
  }
}
